:root {
  --Bright-Orange: hsl(31, 77%, 52%);
  --Dark-Cyan: hsl(184, 100%, 22%);
  --Very-Dark-Cyan: hsl(179, 100%, 13%);
  --Transparent-White: hsla(0, 0%, 100%, 0.75); //(paragraphs)
  --Very-Light-Gray: hsl(0, 0%, 95%); //(background, headings, buttons)
}

//Font-size
$fontSizeBody: 1em;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
body {
  background-color: var(--Very-Light-Gray);
  font-size: $fontSizeBody;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
body::after {
  content: "Coded by Burak Özcan";
  display: flex;
  justify-content: center;
  position: absolute;
  font-family: Lexend Deca;
  font-size: 3rem;
  color: var(--Transparent-White);
  height: 100%;
  padding-top: 10rem;
  width: 100%;
  top: 0;
  z-index: 4;
  background-color: var(--Very-Dark-Cyan);
  animation: creator 5s forwards;
}
@keyframes creator {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
main {
  padding: 2em;
  .card {
    width: 19em;
    padding: 3em 2em 4em;
    .card__title {
      margin: 0.8em 0;
      font-size: 2.5em;
      font-family: "Big Shoulders Display";
      color: var(--Very-Light-Gray);
      text-transform: uppercase;
    }
  }
  .card__sedans {
    border-radius: 0.5em 0.5em 0 0;
    background-color: var(--Bright-Orange);
    .card__button {
      color: var(--Bright-Orange);
    }
  }
  .card__suvs {
    background-color: var(--Dark-Cyan);
    .card__button {
      color: var(--Dark-Cyan);
    }
  }
  .card__luxury {
    border-radius: 0 0 0.5em 0.5em;
    background-color: var(--Very-Dark-Cyan);
    .card__button {
      color: var(--Very-Dark-Cyan);
    }
  }

  .card__description {
    font-family: "Lexend Deca";
    color: var(--Transparent-White);
    margin-bottom: 2.5em;
    line-height: 1.5em;
  }
  .card__button {
    font-family: "Lexend Deca";
    background-color: var(--Very-Light-Gray);
    text-decoration: none;
    padding: 1em 2em;
    border-radius: 2em;
  }
  .card__button:hover {
    background-color: transparent;
    border: var(--Transparent-White) 2px solid;
    color: var(--Transparent-White);
  }
}

footer {
  text-align: center;
  padding: 1em 0;
  a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
  }
}

@media (min-width: 940px) {
  body {
    height: 100vh;
    main {
      padding: 0;
      background-color: var(--Very-Light-Gray);
      display: grid;
      grid-template-columns: auto auto auto;
    }
    .card__description {
      margin-bottom: 6em;
    }
    .card__sedans {
      border-radius: 1em 0 0 1em;
    }
    .card__luxury {
      border-radius: 0 1em 1em 0;
    }
  }
}
